<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="./style/index.css" />
 
    <script src="./js/app.js"></script>

    
 
</head>
<br>
    <header>
        
        <img src="./assets/Task img.png"  alt="task image" style="width:100px;">
        <h1>ToDo</h1>
        <div class="topnav">
          <ul>
            <li><a class="active" href="#home">Home</a></li>
            <Li><a href="#contact">Contact</a></Li>
            <Li><a href="./about.html">About us</a></Li>
          </ul>
            
          </div>
    </header>
</br>
</br>
</br>
<br>
</br>
<br>
    <main>
        <table class="center" >
            <tr>
              <th>Task</th>
              <th>Status</th>
            </tr>
            <tr>
              <td>Task Day01</td>
              <td>Don't submtion</td>
              <input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer"> 
            </tr>
            <tr>
              <td>Task Day02</td>
              <input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer"> 
              <td>Done</td>
            </tr>
            <tr>
                <td>Task Day03</td>
                <input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer"> 
                <td>Not Yet</td>
              </tr>
          </table>
         
          
    </main>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

 
<footer class="footer">
     
    <a href="#terms">Terms</a>
    <a href="#privacy">Privacy</a>
    <a href="#security">Security</a>
    <a href="#status">Status</a>
    <a href="#news">News</a>
    <p>© 2022 ToDo,Task .</p>
</footer>
</body>
</html>